<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheer' href='../app.css'></link>
    <style>
      #search-results tr:hover {
        background-color: lightgrey;
        cursor: pointer;
      }
    </style>
  </head>
  <body>

    <form id="search-form" onsubmit="return false">
      <br />
      <br />
      <input name="search" />
      <input type="submit" onclick="submitSearch()" value="Search" placeholder="Type here">
    </form>
      <br />
      <br />
    <table width="100%">
      <thread>
        <tr style="text-align: left;">
          <th width="40%">Title</th>
          <th width="30%">Author</th>
          <th width="10%">Year</th>
          <th width="20%">Id</th>
        </tr>
      </thread>
      <tbody id="search-results"></tbody>
    </table>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
      function submitSearch(){
        $.ajax({
          url: "/search",
          method: "POST",
          data: $("#search-form").serialize(),
          success: function(rawData){
            var parsed = JSON.parse(rawData);
            if (!parsed) return;

            var searchResults = $("#search-results");
            searchResults.empty();

            parsed.forEach(function(result){
                var row = $("<tr><td>" + result.Title + "</td><td>"+ result.Author + "</td><td>"+ result.Year +"</td><td>"+ result.ID +"</td></tr>");
                searchResults.append(row);

            row.on("click", function(){
              $.ajax({
                url: "/books/add?id=" + result.ID,
                method: "GET"
              })
            })
            });
          }
        });
        return false;
      }
    </script>
  </body>
</html>
